streamlit
google-cloud-aiplatform
google-cloud-aiplatform[langchain]
pandas
numpy
python-dotenv
streamlit-authenticator
plotly
streamlit-option-menu
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
langchain
langchain-google-vertexai
vertexai
google
dotenv
reportlab
cloud-sql-python-connector
#PyMySQL
SQLAlchemy
psycopg2-binary
pg8000
bcrypt